.basket {
  position: fixed;
  top: 135px;
  right: 0;
  width: calc(30% - 3rem);
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
}
.basket--error {
    display: none;
}

.basket__item {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
  padding: 0.3rem 0;
  border-bottom: 1px solid lightgray;
}

.basket__item-name {
  width: 25%;
}

.basket__header {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ff3c3c;
}

.basket__list {
  max-height: calc(100vh - 294px);
  overflow-y: auto;
}

.basket__footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.basket__footer-price {
  font-size: 1.5rem;
  font-weight: 800;
}

.basket .basket__empty-text {
  display: none;
}

.basket.basket--empty .basket__footer {
  display: none;
}

.basket.basket--empty .basket__empty-text {
  display: block;
}