@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
  background: rgba(253,253,252,0.6);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.basket-flex {
  /* margin: 200px 16px; */
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: #dee2e6;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basket__header {
  border-bottom: 5px solid #d81818;
  justify-content: center;
  padding-bottom: 10px;
}

.button {
  width: 100%;
  min-height: 47px;
  background: rgba(118,184,41,0.8);
  color: #fff;
  font-size: 18px;
  line-height: 21.09px;
  border-style: none;
  border-radius: 4px;
  
}

.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 16px;
  row-gap: 24px;
}

.navigation {
  padding: 74px 16px 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #a8101a;
  background: linear-gradient(90deg, #a8101a 0%, #ee1a25 35%, #8a3252 100%);
  min-height: 100px;
}
.navigation__link {
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  color: #495057;
  padding: 4px 64px;
  background: #ced4da;
  justify-content: center;
  text-decoration: none;
}

.pizza-grid {
  padding: 74px 16px 88px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 24px;
}

.pizza {
  /* padding: 24px 16px 16px; */
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background: rgba(255,255,255,0.6);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.pizza__description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: end;
}
.pizza__description-price {
  font-size: 18px;
  font-weight: bold;
}
.pizza__picture {

  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 150px;
  background-size: cover;
  background-position: center center;
}
